@model TraderPerformance.Models.Trade

@{
    ViewData["Title"] = "Details";
    var portfolioId = ViewData["PortfolioId"] as Guid?;
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Trade</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Security.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Security.Name)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                    </dl>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="bi bi-pencil"></i> Edit</a>
                    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
